<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員一覧</title>
</head>
<body>
    <header>
        <a href="{{url_for('add_employee')}}">従業員の追加</a>
    </header>
    <section>
        <div>
            <h1>Employees_list</h1>

            <table>
                <tr>
                    <th>id</th>
                    <th>名前</th>
                    <th>コメント</th>
                    <th>削除</th>
                    <th>編集</th>
                    <!-- <th>編集日時</th> -->
                </tr>
                {% for v in employees_list %}
                <tr>
                    <td>{{v['id']}}</td>
                    <td>{{v['name']}}</td>
                    <td>{{v['comment']}}</td>
                    <!-- edit関数を作成したら有効にする -->
                    <!-- <td>編集日時</td> -->
                    <td>
                        <a href="{{url_for('delete', id=v['id'])}}">削除</a>
                    </td>
                    <td>
                        <a href="url_for('edit', id=v['id'])">EDIT</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</body>
</html>